################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PedroFarah.WFVendas/DesignTimeBuild/.dtbcache.v2
/.vs/PedroFarah.WFVendas/FileContentIndex/34182bd3-678f-44cc-af5a-521c2788b494.vsidx
/.vs/PedroFarah.WFVendas/FileContentIndex/42ebad78-f982-433c-b7d7-42d1ae3f2fa2.vsidx
/.vs/PedroFarah.WFVendas/FileContentIndex/5b66dfbb-fcb0-47d7-b593-16c7a4aee7e4.vsidx
/.vs/PedroFarah.WFVendas/FileContentIndex/6f7eda5b-6da9-4d55-a644-14be60ebac89.vsidx
/.vs/PedroFarah.WFVendas/FileContentIndex/7ce5d910-4a83-404a-b801-e22fb81e5fc6.vsidx
/.vs/PedroFarah.WFVendas/FileContentIndex/ac3d020e-f714-4caf-ab96-3eebbd338bc1.vsidx
/.vs/PedroFarah.WFVendas/FileContentIndex/c8b145e1-b0c3-4f15-96d9-232dfedbd8d5.vsidx
/PedroFarah.WFVendas.Domain/obj
/PedroFarah.WFVendas.Dto/obj
/PedroFarah.WFVendas.Host/bin/Debug/net9.0-windows
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/apphost.exe
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFar.E204BA35.Up2Date
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.AssemblyInfo.cs
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.AssemblyInfoInputs.cache
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.assets.cache
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.csproj.AssemblyReference.cache
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.csproj.BuildWithSkipAnalyzers
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.csproj.CoreCompileInputs.cache
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.csproj.FileListAbsolute.txt
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.csproj.GenerateResource.cache
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.dll
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.Form1.resources
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.genruntimeconfig.cache
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.pdb
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows/PedroFarah.WFVendas.Host.sourcelink.json
/PedroFarah.WFVendas.Host/obj/Debug/net9.0-windows
/PedroFarah.WFVendas.Host/obj/PedroFarah.WFVendas.Host.csproj.nuget.dgspec.json
/PedroFarah.WFVendas.Host/obj/PedroFarah.WFVendas.Host.csproj.nuget.g.props
/PedroFarah.WFVendas.Host/obj/PedroFarah.WFVendas.Host.csproj.nuget.g.targets
/PedroFarah.WFVendas.Persistence/obj
/PedroFarah.WFVendas.Host/obj/project.assets.json
/PedroFarah.WFVendas.Host/obj/project.nuget.cache
/.vs/ProjectEvaluation/pedrofarah.wfvendas.metadata.v9.bin
/.vs/ProjectEvaluation/pedrofarah.wfvendas.projects.v9.bin
/.vs/ProjectEvaluation/pedrofarah.wfvendas.strings.v9.bin
/.vs/PedroFarah.WFVendas/DesignTimeBuild/.dtbcache.v2
/.vs/PedroFarah.WFVendas/v17/.futdcache.v2
/.vs/PedroFarah.WFVendas/v17/.suo
/.vs/PedroFarah.WFVendas/v17/DocumentLayout.backup.json
/.vs/PedroFarah.WFVendas/v17/DocumentLayout.json
